@import "../assets/css/custom-bootstrap/personal.scss";
html,
body {
  height: 100vh;
}

body{
  overflow-y: hidden !important;
}
#content{
    position: absolute;
    top: 0;
    padding: 0.5em;
    height: 100vh;
}

.imgCard {
  width: 10rem;
}

#sidebar {
  height: 100%;
}

#library h3 {
  font-size: 60%;
  padding-left: 1em;
}

#library i {
  font-size: 100%;
}
#containerAll {
  height: 100vh;
}

main {
  width: 100vw;
  height: 100vh;
  width: 100vw;
  height: 100vh;
  overflow-y: scroll;
}

#mainSection {
  background: linear-gradient(
    180deg,
    rgba(33, 33, 33, 1) 26%,
    rgba(18, 18, 18, 1) 92%
  );

  z-index: 1;
}

nav {
  //    font-size: 11px;;
  width: 100%;
  z-index: 3;
  background-color: rgba(65, 65, 65, 0);
}

h1 {
  font-size: 10vh;
  font-family: Circular;
  font-weight: 900;
}

section {
  margin-top: 5em;
  background: linear-gradient(
    180deg,
    rgba(33, 33, 33, 1) 26%,
    rgba(18, 18, 18, 1) 92%
  );
  font-family: Circular;
}

header {
  padding-top: 10vh;
  padding-bottom: 10vh;
  z-index: 0;
  background-image: url(freddy.png);
}

li {
  font-family: Circular;
  font-weight: 400;
  font-size: 0.8em;
}

.title {
  flex-grow: 1;
}

.duration {
  margin: 0;
  color: rgba(128, 128, 128, 0.79);
}

.rank {
  color: rgba(128, 128, 128, 0.79);
}

@media screen and (max-width: 800px) {
  #main {
    width: 100vw;
  }
  .card {
    width: 100%;
  }

  .scrollmenu {
    visibility: visible;
    overflow-x: auto;
  }
  #nameArtist {
    font-size: 50px;
  }

  #section {
    width: 100%;
  }
  .counter {
    font-size: 100%;
  }

  .rank {
    display: none;
  }

  .title {
    font-size: 80%;
  }
}

// 769 to 1915

@media screen and (min-width: 768px) {
  #content {
    display: flex;
  }

  #section {
    width: 70%;
  }
}

// #containMain{
//     height: 100vh;
//     display: flex;
// }

// .card{
//     background-image: linear-gradient(to right top, #121212, #161616, #191919, #1c1c1c, #1f1f1f);
// }

// #song li{
//     background-color: transparent;
//     border:none;
//     font-family: Circular;
//     font-weight: 600;
//     color: white;
// }

::-webkit-scrollbar {
  width: 2px;
  height: 2px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: #000000;
  border: 0px none #000000;
  border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover {
  background: #000000;
}
::-webkit-scrollbar-thumb:active {
  background: #000000;
}
::-webkit-scrollbar-track {
  background: #000000;
  border: 0px none #000000;
  border-radius: 50px;
}
::-webkit-scrollbar-track:hover {
  background: #000000;
}
::-webkit-scrollbar-track:active {
  background: #000000;
}
::-webkit-scrollbar-corner {
  background: transparent;
}

@import "./../assets/css/custom-bootstrap/personal";
@font-face {
  font-family: "Circular";
  src: url("../assets/fonts/CircularStd-Black.otf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Circular";
  src: url("../assets/fonts/CircularStd-BlackItalic.otf");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "Circular";
  src: url("../assets/fonts/CircularStd-Bold.otf");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Circular";
  src: url("../assets/fonts/CircularStd-BoldiItalic.otf");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: "Circular";
  src: url("../assets/fonts/CircularStd-Light.otf");
  font-weight: lighter;
  font-style: normal;
}
@font-face {
  font-family: "Circular";
  src: url("../assets/fonts/CircularStd-LightItalic.otf");
  font-weight: lighter;
  font-style: italic;
}

@font-face {
  font-family: "Circular";
  src: url("../assets/fonts/CircularStd-Black.otf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Circular";
  src: url("../assets/fonts/CircularStd-BlackItalic.otf");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "Circular";
  src: url("../assets/fonts/CircularStd-Bold.otf");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Circular";
  src: url("../assets/fonts/CircularStd-BoldItalic.otf");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: "Circular";
  src: url("../assets/fonts/CircularStd-Light.otf");
  font-weight: lighter;
  font-style: normal;
}
@font-face {
  font-family: "Circular";
  src: url("../assets/fonts/CircularStd-LightItalic.otf");
  font-weight: lighter;
  font-style: italic;
}

body {
  font-family: "Circular", sans-serif !important;
  // overflow-y:hidden ;
}

#footerMobile {
  background-color: rgba(12, 12, 12, 0.934);
}
.headerButtons {
  background-color: rgb(19, 19, 19);
}
.grey {
  color: grey;
}

.classGrey {
  color: grey;
  &:hover {
    color: white;
  }
}

.arrow {
  border-radius: 100% !important;
  background-color: #121212;
}
#player {
  box-shadow: grey 0px -1px 2px 0px;
}
// #cardSize{
//   height: 95%;
// }

#cardColor {
  background-color: #50505015;
  box-shadow: #59595be6 0px 0px 1px 0px;
}
.img {
  border-radius: 5px;
}

// #add-icon {
//   color: #b2b2b2;
// }

#heart-icon {
  color: #b2b2b2;

  font-size: 10px;
}
#div-heart {
  background: linear-gradient(100deg, #3d1fa8, rgba(255, 0, 0, 0) 100%),
    linear-gradient(360deg, #b2b2b2, rgba(0, 0, 255, 0) 100%);
  // width: 30px;
  // height: 20px;
}
#save-icon {
  color: #149643;

  font-size: 10px;
}
.lente {
  color: #3d1fa8;
}
.boxIcon {
  width: 20px;
  height: 20px;
}
#div-save {
  background-color: #004537;
  // width: 20px;
  // height: 20px;
}
#div-add {
  background-color: #b2b2b2;
  // width: 18px;
  // height: 20px;
}
#add-icon {
  color: black;
}
#box {
  width: auto;
  overflow: auto;
}
// scroll bar
#main-section {
  background: linear-gradient(#242424 10%, rgb(13, 13, 13) 95%) !important;
  overflow-y: scroll;
  height: 100vh;
  &::-webkit-scrollbar {
    width: 15px;
    visibility: hidden;
    //  background: linear-gradient(#242424 10% , rgb(13, 13, 13) 95%) !important;
    background: rgba($color: #000000, $alpha: 0);
    &:hover {
      visibility: visible;
    }
  }

  &::-webkit-scrollbar-thumb {
    background: rgba(146, 146, 146, 0.651);
    visibility: hidden;
    border-radius: 40px;
    width: 50px;
    &:hover {
      visibility: visible;
    }
  }
}

///scroll bar

.button-car {
  background-color: black;
  border: 0;
  border-radius: 100%;
}
#showIcon {
  right: 20px !important;
  position: absolute;
  top: 0;
}

#header {
  background: linear-gradient(15deg, rgba(0, 0, 0, 8), rgba(0, 0, 0, 0) 90%),
    linear-gradient(220deg, rgba(36, 36, 36, 8), rgba(0, 255, 0, 0) 100%),
    linear-gradient(360deg, rgba(0, 0, 0, 8), rgba(0, 0, 0, 0) 10%);
}
.hideButton {
  background-color: rgba(45, 45, 45, 0.537) !important;
}

.shadow {
  box-shadow: #040404 0px 0px 4px 1px !important;
}
#spotify-logo {
  position: absolute;
  top: 15px;
  left: 15px;
  font-size: 0.9em;
}

#box {
  overflow-y: scroll;
  height: 615px;
  &::-webkit-scrollbar {
    width: 10px;
    visibility: hidden;
    background-color: #000000;
    &:hover {
      visibility: visible;
    }
  }
  &::-webkit-scrollbar-thumb {
    background: rgba(101, 101, 101, 0.651);
    visibility: hidden;
    border-radius: 40px;
    width: 50px;
    &:hover {
      visibility: visible;
    }
  }
}
.hover-text-black:hover {
  color: #1ed760 !important;
}
#spinner {
  width: 50px;
  height: 50px;
}

/* code css in */
.swing-in-right-fwd {
  -webkit-animation: swing-in-right-fwd 1s
    cubic-bezier(0.175, 0.885, 0.32, 1.275) both;
  animation: swing-in-right-fwd 1s cubic-bezier(0.175, 0.885, 0.32, 1.275) both;
}
/* code css out */
.swing-out-right-bck {
  -webkit-animation: swing-out-right-bck 0.8s
    cubic-bezier(0.6, -0.28, 0.735, 0.045) both;
  animation: swing-out-right-bck 0.8s cubic-bezier(0.6, -0.28, 0.735, 0.045)
    both;
}

@-webkit-keyframes swing-in-right-fwd {
  0% {
    -webkit-transform: rotateY(-100deg);
    transform: rotateY(-100deg);
    -webkit-transform-origin: right;
    transform-origin: right;
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateY(0);
    transform: rotateY(0);
    -webkit-transform-origin: right;
    transform-origin: right;
    opacity: 1;
  }
}
@keyframes swing-in-right-fwd {
  0% {
    -webkit-transform: rotateY(-100deg);
    transform: rotateY(-100deg);
    -webkit-transform-origin: right;
    transform-origin: right;
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateY(0);
    transform: rotateY(0);
    -webkit-transform-origin: right;
    transform-origin: right;
    opacity: 1;
  }
}

@-webkit-keyframes swing-out-right-bck {
  0% {
    -webkit-transform: rotateY(0);
    transform: rotateY(0);
    -webkit-transform-origin: right;
    transform-origin: right;
    opacity: 1;
  }
  100% {
    -webkit-transform: rotateY(-100deg);
    transform: rotateY(-100deg);
    -webkit-transform-origin: right;
    transform-origin: right;
    opacity: 0;
  }
}
@keyframes swing-out-right-bck {
  0% {
    -webkit-transform: rotateY(0);
    transform: rotateY(0);
    -webkit-transform-origin: right;
    transform-origin: right;
    opacity: 1;
  }
  100% {
    -webkit-transform: rotateY(-100deg);
    transform: rotateY(-100deg);
    -webkit-transform-origin: right;
    transform-origin: right;
    opacity: 0;
  }
}

@keyframes scale {
  from {
  }
  to {
    transform: scale(1.1);
  }
}
@keyframes resize {
  from {
    transform: scale(1.1);
  }
  to {
    transform: scale(1);
  }
}

.scale {
  // transform: scale(1.2);
  animation: scale;
  animation-duration: 0.3s;
  animation-timing-function: linear;
  animation-delay: 0;
  animation-fill-mode: forwards;
  z-index: 1;
}
.resize {
  animation: resize;
  animation-duration: 0.3s;
  animation-timing-function: linear;
  animation-delay: 0;
  z-index: 0;
}

.select-border {
  &:hover {
    box-shadow: rgb(107, 107, 107) 0px 0px 8px 2px;
    transition: all 0.8s;
  }
  transition: all 0.8s;
}
.select-border2 {
  &:hover {
    box-shadow: #1ed760 0px 0px 9px 3px;
    transition: 0.8s;
  }
  transition: 0.8s;
}
.select {
  &:hover {
    background-color: rgba(100, 100, 100, 0.697);
  }
}
.padding-start {
  padding-left: 11.5px !important;
}
@media screen and (max-width: 576px) {
  .smaller {
    font-size: 0.7em !important;
  }
}

.bg-songBar {
  background-color: #181818;
  border-color: rgb(56, 56, 56) !important;
}
.sound-timer {
  // height: 20px !important;
  border: 2px solid;
}
.footer-desktop {
  bottom: 0;
  position: fixed;
}
.footer-mobile {
  bottom: 0;
  position: sticky;
}
footer {
  margin-top: 150px;
}
