/* html,body{
    height: 100vh;
    
}
#sidebar{
    margin: 0.5%;
}

main{
    height: 100vh;
    overflow-y: scroll;
    height: 100vh;
    
       
      
}



#song li{
    background-color: #202020;
    border:none;
    font-family: Circular;
    font-weight: 600;
    color: white;
}

#artistImg{
    background: url(https://placekitten.com/500);
    position: fixed;
    top: 0;
} */