@import "./../assets/css/custom-bootstrap/personal";
@font-face {
  font-family: 'Circular';
  src: url('../assets/fonts/CircularStd-Black.otf');
  font-weight: normal;
  font-style: normal;};
  @font-face {
    font-family: 'Circular';
  src: url('../assets/fonts/CircularStd-BlackItalic.otf');
  font-weight: normal;
  font-style: italic;}
  @font-face {
    font-family: 'Circular';
    src: url('../assets/fonts/CircularStd-Bold.otf');
  font-weight: bold;
  font-style: normal;}
  @font-face {
    font-family: 'Circular';
    src: url('../assets/fonts/CircularStd-BoldiItalic.otf');
  font-weight: bold;
  font-style: italic;}
  @font-face {
    font-family: 'Circular';
    src: url('../assets/fonts/CircularStd-Light.otf');
  font-weight: lighter;
  font-style: normal;}
  @font-face {
    font-family: 'Circular';
    src: url('../assets/fonts/CircularStd-LightItalic.otf');
  font-weight: lighter;
  font-style: italic;}



#footerMobile {
  background-color: rgba(12, 12, 12, 0.842);
}
.headerButtons {
  background-color: rgb(19, 19, 19);
}
.grey {
  color: grey;
}
.classGrey {
  color: grey;
  &:hover {
    color: white;
  }
}
.arrow {
  border-radius: 100% !important;
  background-color: #121212;
}
#player {
  box-shadow: grey 0px -1px 2px 0px;
}
// #cardSize{
//   height: 95%;
// }

#cardColor {
  background-color: #1818186b;
}
.img {
  border-radius: 15px;
}

#add-icon {
color: #B2B2B2;
}

#heart-icon{
  
  color:  #B2B2B2;
  
  font-size: 10px;
}
#div-heart {
  background:   linear-gradient(100deg, #3D1FA8, rgba(255,0,0,0) 100%),  linear-gradient(360deg, #B2B2B2, rgba(0,0,255,0) 100%);
  width: 18px;
  height: 20px;
}
#save-icon{
  
  color:  #149643;
  
  font-size: 10px;
}
#div-save {
  background-color: #004537;
  width: 18px;
  height: 20px;
}
#div-add{
  background-color: #B2B2B2;
  width: 18px;
  height: 20px;
}
#add-icon {
  color: black;
}
#box {
  width: auto;
  overflow: auto;
}
#main-section{
  background-color: #2d2d2d;
  overflow-y: scroll;
  height: 100vh;
}
.button-car {
  background-color: black;
    border: 0;
    border-radius: 100%;
}
// code per scrollbar
::-webkit-scrollbar {
  width: 2px;
  height: 2px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: #000000;
  border: 0px none #000000;
  border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover {
  background: #878787;
}
::-webkit-scrollbar-thumb:active {
  background: #000000;
}
::-webkit-scrollbar-track {
  background: #666666;
  border: 0px none #5e5e5e;
  border-radius: 50px;
}
::-webkit-scrollbar-track:hover {
  background: #666666;
}
::-webkit-scrollbar-track:active {
  background: #333333;
}
::-webkit-scrollbar-corner {
  background: transparent;
}
